.main{
  margin: 0 auto;
  width:50%;
  height:100px;
}

h1{
  border:7px solid white;
  border-left: none;
  opacity:0.9 ;
  width:60%;
  color:white;
  padding:10px;
  text-align: right;
  font-size: 40px;
  background-color:black;
  
}

.search{
  display: flex;
  justify-content: center;
  gap:10px;
}

.search > input{
  font-size: 15px;
  padding:10px;
  width:50%;
  border: none;
  border-bottom: 5px solid black;
}

.search >input:focus{
  outline: none;
}

button{
  background-color: black;
  color:white;
  border: none;
  width:80px;
}

button:hover{
  background-color: white;
  border: 1px solid black;
  color:black;
  cursor:pointer;
}

.food{
  margin-top: 10px;
  margin:10px auto;
  width:90%;
  height:500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: auto;
  overflow-x:hidden ;
}

figure{
  background-color: white;
  border-top-right-radius: 30%;
  border:1px solid none;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
  width:200px;
  box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

.food::-webkit-scrollbar {
  width: 15px; 
}

.food::-webkit-scrollbar-thumb {
  height:200px;
  background: black;

}

::-webkit-scrollbar-track {
  background: white;
}


figure>button{
  width:100%;
  font-size: 15px;
  padding:15px;
}

figure>p{
text-align: center;
margin: 0;
}

.food-image{
  height:200px;
  width:200px;
  border-top-right-radius: 30%;
}



@media (max-width:800px) {
  .main{
    margin-top: 30px;
    height:100px;
    width:90%;
  }
  h1{
    font-size: 30px;
  }
}